arrow==0.12.1
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
dateparser==0.7.0
docopt==0.6.2
et-xmlfile==1.0.1
idna==2.6
jdcal==1.4
kiwisolver==1.0.1
matplotlib==2.2.2
moment==0.8.2
numpy==1.14.1
openpyxl==2.5.3
pymongo==3.6.1
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
regex==2018.2.21
requests==2.20.0
six==1.11.0
subprocess32==3.2.7
times==0.7
tzlocal==1.5.1
urllib3==1.22
virtualenv==15.1.0
xlrd==1.1.0
